@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240, 20%, 96%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 162 57% 52%;
    --primary-foreground: 210 20% 98%;
    --secondary: 241 59% 41%;
    --secondary-foreground: 210 20% 98%;
    --font-color: 246, 29%, 13%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 241 59% 41%;
    --input: 241 59% 41%;
    --ring: 241 59% 41%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-font-color;

    font-family: "Roboto", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }
}
